<div class="row">
    <div class="col-3"><h2>Listado {{loading$|async|json}}</h2></div>
    <div class="col-6"></div>
    <div class="col-3">
      <div class="input-group mb-3">
        <input #patron type="text" class="form-control" placeholder="Busca el poke" aria-label="Recipient's username" aria-describedby="button-addon2" (keyup)="setPatron(patron.value)">
      </div>
    </div>
  </div>
  <ng-container  *ngFor="let carrito of carrito$ | async |  buscador:getPatron() ">
  <div class="card text-center bg-light pt-2 pr-2 mb-2 mr-2">
	<div class="card-body">
    
         
        <h5 class="card-title"> {{carrito.name}} </h5>
        <button (click)="onDecrement();DeletePok(carrito)" class="btn btn-outline-primary" type="button" id="button-addon2">Eliminar</button>
        <p class="card-text fw-bold"></p>
  
  </div>

 
		
</div>
</ng-container >
