<div class="card text-center bg-light pt-2 pr-2 mb-2 mr-2">
	<div class="card-body">
		<h5 class="card-title">{{poke.name}}</h5>
		<p class="card-text fw-bold"></p>
		
		<div class="canvas-container">
			<ngt-canvas (click)="addToCarrito(poke)">
			  <ngt-ambient-light [intensity]="0.5"></ngt-ambient-light>
			  <ngt-spot-light
				[position]="10"
				[angle]="0.15"
				[penumbra]="1"
			  ></ngt-spot-light>
			  <ngt-point-light [position]="-10"></ngt-point-light>
			
			  <app-cube></app-cube>
			
			
			  <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
			 
			</ngt-canvas>
			</div>
       <!-- <button (click)="addToCarrito(poke); onIncrement(poke)" type="button" class="btn btn-sm btn-outline-danger" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
			<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
		</svg></button>-->
		
	</div>
</div>